<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/style.css">
  <title>Frontend Mentor | Coding Bootcamp Testimonials Slider</title>
</head>
<body>
    <section>
        <div class="layout">
            <div class="layout__qoutes">
            <div>
                <img class="layout__qoutes--img" src="./images/pattern-quotes.svg" alt="Quote image">
                <p class="layout__qoutes--text">
                    
                </p>
            </div class="layout__qoutes">
                <p class="layout__qoutes--name">
                </p>
                <span class="layout__qoutes--role">
                </span>
            </div>
            <figure class="layout__image">
                    <img class="layout__image--bg" src="./images/pattern-bg.svg" alt="illustration">
                    <img class="layout__image--person" src="" alt="Image of a woman named Tanya">   
                    <div class="layout__arrow">
                        <a href="">
                            <img class="layout__arrow--prev" src="./images/icon-prev.svg" alt="arrow">
                        </a>
                        <a href="">
                            <img class="layout__arrow--next" src="./images/icon-next.svg" alt="arrow">
                        </a>
                    </div> 
            </figure>
        </div>
        <figure class="bg-illustration">
            <img src="./images/pattern-curve.svg" alt="illustration">
        </figure>
    </section>
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://kerry.disha.page/">Kerry Okpere</a>.
  </div>
  <script type="text/javascript" src="index.js"></script>
</body>
</html>